.bannerContainer {
  background: #835afd;
  @apply p-4 sm:p-6 lg:p-20;

  @apply flex flex-col;
  @apply items-center sm:items-start;
  @apply justify-center;

  .imgContainer {
    @apply w-full;
    min-width: 200px;
    max-width: 313px;

    img {
      @apply w-full;
    }
  }

  .content {
    @apply text-white;
    @apply flex flex-col;
    @apply gap-2;

    strong {
      @apply font-poppins;
      @apply text-3xl;
    }

    p {
      @apply font-roboto;
      @apply text-lg;
      @apply filter brightness-90;
    }
  }
}